* {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:root {
    --silver: #c0c0c0;
    --gray: #808080;
    --black: #000;
    --white: #fff;
    --roundedge: 15px;
    --sectionpadding: 5px;
}

body {
    background-color: #000;
    margin: 20px;
}

a:hover {
    color: #000;   
    background-color: white;
    border: #000 solid 3px;
}

h1 {
    border: solid 2px white;
    width: 250px;
    background-color: #000;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
}

p {
  position: relative;
  top: 15px;
}

#af-logo {
    border: solid 2px white;
    height: 60px;
    width: 60px;
    border-radius: 35px;
   }

#about-me   {
    position: relative;
    bottom: 20px;
    border: solid 2px white;
    width: 150px;
    text-align: center;  
    border-radius: 10px;
    background-color: #000;
}

#previous-work  {
    position: relative;
    bottom: 20px;
    border: solid 2px white;
    width: 200px;  
    text-align: center;
    border-radius: 10px;
    background-color: #000;
}

#contact-me {
    position: relative;
    bottom: 20px;
    border: solid 2px white;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: #000;
}

#project-links a {
 
}

.nameplate h2 {
    border: solid 2px white;
    width: 250px;
    min-width: 100px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 40px;
}

.header {

}

.navbar {
    background-color: #808080;
}

.navbar li { 
    display: inline;
    background-color: #808080;
    position: relative;
    top: 15px;
    right: 45px;
}

.navbar li a {
    background-color: #000;
    border: solid 2px white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 2.5px;
}

.navbar li a:hover  {
    color: black;
    background-color: white;
    border: #000 solid 3px;
}

.nameplate {
    background-color: #808080;
    float: right;
    height: 20px;
}

.section {
    position: relative;
    border: solid 2px white;
    background-color: #808080;
    padding: 15px;
    border-radius: 10px;
}

.project-link   {
    background-color: #000;
    border: solid 2px white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 2.5px;
    display: inline-block;
    margin-bottom: 20px;
}

.content    {
    background-color: #808080;
    position: relative;
    bottom: 30px;
}

.address-link {
    background-color: #000;
    border: solid 2px white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 2.5px;
}

.previous-work-images   {
    height: 150px;
    width: 150px;
    display: block;
    padding-bottom: 15px;
    padding-left: 15px;
}